:root {
    --primary-bg-color: lightgray;
}

html {
    font-size: 16px;
}

/* Styles main page background */
body {
    background-color: var(--primary-bg-color, lightblue);
    margin: 2%;
}

h3 {
    color: hsl(200, 80%, 20%);
    font-size: 1.5rem;
}

div {
    color: color(display-p3 0 0 1);
}

button {
    color: color-mix(in srgb, red 10%, blue 50%);
    padding: 0.1cm;
}

h1 {
    font-size: 2.5em;
}

p {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2mm;
}